.storybook-header {
	--header-height: 60px;

	position: static;
	top: 0;
	left: 0;
	width: 100%;
	max-width: 100%;

	display: flex;
	align-items: center;

	height: var(--header-height);
	background: #fff;

	-webkit-box-shadow: 0 1px 0 rgb(0 0 0 / 8%);
	box-shadow: 0 1px 0 rgb(0 0 0 / 8%);
}

.storybook-header-content {
	display: flex;
	align-items: center;
}

.storybook-header-logo {
	height: 32px;
	margin-right: 6px;
}

.storybook-header-title {
	font-size: 18px;
	font-weight: 500;
}
