* {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

	--color-g-text-primary: #fff;
	--color-g-text-secondary: rgba(255, 255, 255, 0.75);
	--color-g-text-tertiary: rgba(255, 255, 255, 0.6);
	--color-g-text-quaternary: rgba(255, 255, 255, 0.45);
	--color-g-text-quinary: rgba(255, 255, 255, 0.25);

	--color-g-bg-overflow: #111112;
	--color-g-bg-primary: #18181a;
	--color-g-bg-secondary: #222224;
	--color-g-bg-tertiary: #2f2f32;

	--color-g-link: #8bb4dd;
	--color-g-link-visited: #a58bdd;

	--color-g-greenurl: rgba(255, 255, 255, 0.87);
	--color-g-stroke: rgba(255, 255, 255, 0.12);
	--color-g-image-fill: rgba(255, 255, 255, 0.06);
	--color-g-skeleton: rgba(255, 255, 255, 0.05);
	--color-g-overlay: rgba(0, 0, 0, 0.7);
	--color-g-control-primary: #fdde55;
	--color-g-control-primary-active: #f0d251;
	--color-g-control-secondary: rgba(255, 255, 255, 0.08);
	--color-g-control-secondary-active: rgba(255, 255, 255, 0.16);
	--color-g-control-secondary-checked: rgba(255, 255, 255, 0.25);
	--color-g-red: #fb5c56;
	--color-g-green: #47b143;
	--color-g-green-text: #47b143;
	--color-g-yellow: #fdde55;
	--color-g-fill-05: rgba(255, 255, 255, 0.05);
	--color-g-fill-05-solid: #222223;
	--color-g-fill-20: rgba(255, 255, 255, 0.2);
	--color-g-fill-30: rgba(255, 255, 255, 0.3);
	--color-g-shadow-05: rgba(0, 0, 0, 0.05);
	--color-g-shadow-10: rgba(0, 0, 0, 0.1);
	--color-g-shadow-20: rgba(0, 0, 0, 0.2);
	--color-g-shadow-30: rgba(0, 0, 0, 0.3);
	--color-g-shadow-40: rgba(0, 0, 0, 0.4);
	--color-g-shadow-50: rgba(0, 0, 0, 0.5);
	--color-g-link-hovered: #fff;
	--color-g-control-primary-hovered: #fdc93d;
	--color-g-control-secondary-hovered: rgba(255, 255, 255, 0.16);
	--shadow-g-lightblue-10: 0 0 0 1px rgba(255, 255, 255, 0.12), 0 2px 7px -4px rgba(0, 0, 0, 0.4);
	--shadow-g-lightblue-20: 0 0 0 1px rgba(255, 255, 255, 0.12), 0 3.3px 10px -4px rgba(0, 0, 0, 0.4);
	--shadow-g-lightblue-30: 0 0 0 1px rgba(255, 255, 255, 0.12), 0 5px 15px -4px rgba(0, 0, 0, 0.4);
	--shadow-g-lightblue-40: 0 0 0 1px rgba(255, 255, 255, 0.12), 0 10px 20px -4px rgba(0, 0, 0, 0.36);
	--shadow-g-lightblue-50: 0 0 0 1px rgba(255, 255, 255, 0.12), 0 15px 25px -4px rgba(0, 0, 0, 0.32);
}
